{% extends 'base.html' %}

{% block title %} Pets {% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <h1 class="mt-4">Pets</h1>

    {% for pet in pets %}

    <div class="col-sm-4">
      <img class="img-thumbnail img-fluid max-width: 200px" src="{{pet.photo_url}}" alt="">
      <p class="text-success"><a href="/{{pet.id}}">{{pet.name}}</a></p>
      <p> {% if pet.available %} <b>is available</b> {% endif %}</p>
    </div>

    {% endfor %}
    <form>
      <button class="btn btn-primary" formaction="/add" formmethod="GET">Add Pet</button>
    </form>
  </div>
</div>

{% endblock %}